/* Faire de l'épurage CSS */

.container {
    width: 75%;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6, div, ul, figure, img {
    padding: 0;
    margin: 0;
}

/* Style du bouton de navigation */

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 2px 3px grey;
    height: 200px;
}

.header .btn {
    background-color: green;
    width: 50px;
    height: 10px
}